<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.mybatis.CustomerMapper">
<resultMap type="com.example.demo.model.Customer" id="customer">
<id column="id" property="id" />
<result column="name" property="name" />

<result column="birthday" property="birthday" />
<result column="gender" property="gender" />
</resultMap>

<select id="selectMany" resultMap="customer">
  	SELECT * FROM Customer
	<if test="name != ''">
		<bind name="name_pattern" value="'%' + name + '%'" />
		AND name LIKE #{name_pattern}
	</if>
   	<if test="paymentCode != ''">
         id in
        <foreach item="paymentCode" open="(" close=")" collection="list" separator=",">
            #{paymentCode}
        </foreach>
 	</if>
 	<choose>
    	<when test="birthdayFrom != '' and birthdayTo != ''">
      		AND price BETWEEN #{birthdayFrom} and #{birthdayTo}
    	</when>
    	<when test="birthdayFrom != ''">
      		AND price <![CDATA[ >= ]]> #{birthdayFrom}
    	</when>
    	<when test="birthdayTo != ''">
      		AND price <![CDATA[ <= ]]> #{birthdayTo}
    	</when>
  	</choose>
  </select>




</mapper>