	
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<header th:include="header::header"></header>

	<form th:action="@{/save}" method="post">
		<table>
			<tbody>
				<tr>
					<td>氏名</td><td><input type="text" name="name"></td>
				</tr>
				<tr>
					<td>誕生日</td><td><input type="date" name="birthday"></td>
				</tr>
				<tr>
					<td>性別</td>
					<td>
						<select name="gender">
							<option value=""></option>
							<option value="1">男性</option>
							<option value="2">女性</option>
							<option value="3">不明</option>
						</select>
					</td>
				</tr>
			</tbody>
			<tfoot align="center">
				<tr>
					<td colspan="4">
						<button type="submit">登録</button>
						<button type="button" onclick="history.back()">戻る</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</body>
</html>