	
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<header th:include="header::header"></header>

	<form th:action="@{/update}" method="post" th:object="${customer}">
		<table>
			<tbody>
				<tr>
					<td>氏名</td><td><input type="text" th:field="*{name}"></td>
				</tr>
				<tr>
					<td>誕生日</td><td><input type="date" th:field="*{birthday}"></td>
				</tr>
				<tr>
					<td>性別</td>
					<td>
						<select name="gender">
							<option value=""></option>
							<option value="1" th:selected="*{gender} == 1">男性</option>
							<option value="2" th:selected="*{gender} == 2">女性</option>
							<option value="3" th:selected="*{gender} == 3">不明</option>
						</select>
					</td>
				</tr>
				<input type="hidden" th:field="*{id}">
			</tbody>
			<tfoot align="center">
				<tr>
					<td colspan="4">
						<button type="submit">更新</button>
						<button type="button" onclick="history.back()">戻る</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</body>
</html>