	
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
		<form th:action="@{/customers}" method="get">
			<table>
				<tbody>
					<tr>
						<td>氏名</td><td><input type="text" name="name"></td>
					</tr>
					<tr>
						<td>誕生日</td><td><input type="date" name="birthdayFrom">
							～ <input type="date" name="birthdayTo"></td>
					</tr>
					<tr>
						<td>支払区分</td>
						<td>
							<select multiple="multiple" name="paymentCodes">
								<option value=""></option>
								<option value="1">10回払い</option>
								<option value="2">20回払い</option>
								<option value="3">月会員</option>
								<option value="4">年会員</option>
							</select>
						</td>
					</tr>
				</tbody>
				<tfoot align="center">
					<tr><td colspan="4"><button type="submit">検索</button></td></tr>
				</tfoot>
			</table>
		</form>
		<hr>
		
		<form th:action="@{/history}" method="get">
			<table>
				<tfoot align="center">
					<tr><td colspan="4"><button type="submit">確認</button></td></tr>
				</tfoot>
			</table>
		</form>
		<hr>
		
		<form th:action="@{/customer}" method="get">
			<table>
				<tfoot align="center">
					<td>id</td><td><input type="text" name="id" value="1"></td>
					<tr><td colspan="4"><button type="submit">確認</button></td></tr>
				</tfoot>
			</table>
		</form>
		<hr>
		
		<form th:action="@{/customer}" method="post">
			<table>
				<tfoot align="center">
				</tfoot>
			</table>
			<table>
				<tbody>
					<tr>
						<td>氏名</td><td><input type="text" name="name"></td>
					</tr>
					<tr>
						<td>誕生日</td><td><input type="date" name="birthday"></td>
					</tr>
					<tr>
						<td>性別</td>
						<td>
							<select name="gender">
								<option value=""></option>
								<option value="1">男性</option>
								<option value="2">女性</option>
								<option value="3">その他</option>
							</select>
						</td>
					</tr>
				</tbody>
				<tfoot align="center">
					<tr><td colspan="4"><button type="submit">登録</button></td></tr>
				</tfoot>
			</table>

		</form>
		<hr>
</body>
</html>